.box {
    background: black;
    display: flex;
    height: 300px;
    border: 25px solid red;
}

.player {
    color: black;
    background: white;
    border: 1px solid yellow;
    height: '20%';
    width: '100%';
}